[package]
name = "orion"
version = "0.15.2" # Update html_root_url in lib.rs along with this.
authors = ["brycx <brycx@protonmail.com>"]
description = "Usable, easy and safe pure-Rust crypto"
keywords = [ "cryptography", "crypto", "aead", "hash", "mac" ]
categories = [ "cryptography", "no-std" ]
edition = "2018"
readme = "README.md"
repository = "https://github.com/brycx/orion"
documentation = "https://docs.rs/orion"
license = "MIT"
exclude = [
    ".gitignore",
    ".travis.yml",
    "tests/*"
]

[dependencies]
subtle = { version = "^2.2.2", default-features = false }
zeroize = { version = "1.1.0", default-features = false }
getrandom = { version = "0.1.12", optional = true }
base64 = { version = "0.12.0", optional = true }

[features]
default = [ "safe_api" ]
safe_api = [ "getrandom", "base64" ]

[dev-dependencies]
hex = "0.4.0"
serde_json = "1.0.41"
quickcheck = "0.9.0"
criterion = "0.3.0"

[[bench]]
name = "bench"
harness = false

[profile.dev]
opt-level = 1

[badges]
travis-ci = { repository = "brycx/orion", branch = "crates-published" }
codecov = { repository = "brycx/orion", branch = "crates-published" }
appveyor = { repository = "brycx/orion", branch = "crates-published" }
maintenance = { status = "actively-developed" }
