name: Daily tests
permissions:
  contents: read

on:
  schedule:
    - cron: "0 0 * * *" # Midnight of each day

jobs:
  tests:
    name: Test Suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - nightly
    steps:
      - name: Checkout sources
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          persist-credentials: false

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: ${{ matrix.toolchain }}

      - name: Run cargo test - debug
        run: cargo test --all-features

      - name: Run cargo test - release
        run: cargo test --release --all-features
